.posts{
    display: flex;
    flex-direction: column;
}
.filterBox{
    width: 100%;
    display: flex;
    column-gap: 8px;
    align-items: center;
    background: #FFF;
    border-radius: 4px;
    border: 1px #CCCCCC solid;
    padding: 10px;
    margin-top: 10px;
}
.filterBox > button{
    height: auto;
    border: none;
    border-radius: 25px;
    padding: 9px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: #878A8C;
    background: #FFF;
    font-weight: 600;
}
.filterBox > button:hover{
    cursor: pointer;
    background: #EDEFF1 !important;
}
.o{
    background: #F6F7F8 !important;
}
.filterBox > button > h4{
    font-size: 1em;
}
.filterBox i{
    font-size: 1.2em;
    margin-right: 8px;
}
.dropDown i{
    margin-left: 6px;
    margin-right: 0px;
    font-size: 1em;
}