.container{
    grid-column: 1/3;
    display: grid;
    justify-content: center;
    margin-top: 50px;
}
.title{
    margin: 14px 0px 8px;
    text-align: left !important;
}
.trending{
    display: flex;
    justify-content: center;
    color: white;
}
.trending > div{
    flex-shrink: 1;
    background: gray;
    margin-right: 10px;
    border-radius: 9px;
    width: 238px;
    height: 180px;
}
.trending > div:nth-of-type(4){
    margin-right: 0px;
}
.postTitle{
    font-size: 1.1em;
    margin: 85px 0px 0px 0px;
}
.trending > div > *{
    margin-left: 15px;
}
.info{
    font-size: 0.8rem;
    margin-top: 6px;
}
.content{
    font-size: 0.9rem;
}