.container{
    grid-column: 1/3;
    display: grid;
    justify-content: center;
    margin-top: 50px;
}
.title{
    margin: 14px 0px 8px;
    text-align: left !important;
}
.trending{
    display: flex;
    justify-content: center;
    width: 990px;
    color: white;
}
.trending > div{
    flex-shrink: 1;
    background: white;
    margin-right: 12px;
    border-radius: 9px;
    width: 100%;
    height: 157px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.trending > div:nth-of-type(4){
    margin-right: 0px;
}
.trending > div > *{
    background: #F3F5F6;
    width: 100%;
    height: 23px;
}
.postTitle{
    font-size: 1.1em;
    margin: 85px 0px 0px 0px;
}
.info{
    font-size: 0.8rem;
    margin-top: 8px;
}
.content{
    font-size: 0.9rem;
}